<div class="infoUser">
	<h3 class="userName">{{user.firstName}} {{user.lastName}}</h3>
    <div class="row">
    
        <button><mat-icon (click)="isOpen = !isOpen">edit</mat-icon></button>
        <form   [formGroup]="updateForm" (ngSubmit)="updateUser()" *ngIf=isOpen>
            <div class="form-group">
                <label for="firstName">Prénom</label>
                <input type="text" id="firstName" class="form-control" formControlName="firstName">
            </div>
            <div class="form-group">
                <label for="lastName">Nom</label>
                <input type="text" id="lastName" class="form-control" formControlName="lastName">
            </div>
            <div class="form-group">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" formControlName="email">
            </div>
            <button mat-raised-button type="submit"  (click)="reloadCurrentPage()" [disabled]="updateForm.invalid">Modifier les informations</button>
        </form>
        <button>
                <mat-icon (click)="deleteUser(user.id)">delete</mat-icon>
        </button> 
    
    </div>
    
	<h4>Publications :</h4>
	
</div>


<div class="card-body " *ngFor="let post of data">
	<div class="userPosts" *ngIf="userId === post.UserId">
     <div class="card-text" >
         <div class="user_info">
            <p class="mb-0 user_name" >{{post.User.firstName}} {{post.User.lastName}}</p>
           <p class="date">{{post.createdAt | date: 'mediumDate'}} </p>
         </div>
        
        <button *ngIf="userId === post.UserId || isAdmin">           
            <mat-icon (click)="delete(post.id)" (click)="reloadCurrentPage()" >delete</mat-icon>
        </button>
     
    </div>
     <div class="card-text" *ngIf="post.title!=='null'">
        <h3 class="mb-0">{{post.title}}</h3>
    </div>
         <div class="card-text" *ngIf="post.content!=='null'">
        <p class="mb-0">{{post.content}}</p>
    </div>
    <div class="card-img-top w-75 mx-auto" [hidden]="post.attachment === null" >
        <img [src]="post.attachment" alt="..." class="w-50"alt="media de {{post.User.firstName}} {{post.User.lastName}}"  />
    </div>

    <div class="comment_section">
            
        <div *ngFor="let comments of post.Comments " class="comment_view">
            <div class="user_comment">
                <p class="comment_name">{{comments.User.firstName}} {{comments.User.lastName}}</p>
                <p class="comment_date">{{comments.createdAt | date: 'mediumDate'}}</p>
            </div>
            <div class="comment_text">
                 <p>{{comments.comments}}</p>    
            <button *ngIf="userId === comments.UserId">
                <mat-icon (click)="deleteComment(comments.id)" (click)="reloadCurrentPage()">delete</mat-icon>
            </button>  
            </div>            
        </div>
        <div class="comment_form">
            <app-comments-form [currentPost]="post"></app-comments-form> 
        </div>
           
    </div>
</div>
</div>
