<app-create-post (create)="createPost()"></app-create-post>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<div class="card-body" *ngFor="let post of posts$ | async">
     <div class="card-text" >
        <p class="mb-0" >{{post.createdAt | date: 'mediumDate'}} </p>
        <button *ngIf="userId === post.UserId">
            
        <mat-icon (click)="delete(post.id)">delete</mat-icon>
        </button>

    </div>
     <div class="card-text" *ngIf="post.title!=='null'">
        <p class="mb-0">{{post.title}}</p>
    </div>
    <div class="card-img-top w-75 mx-auto" *ngIf="post.attachment!=='null'" >
        <img [src]="post.attachment" alt="..." class="w-50" />
    </div>
     <div class="card-text" *ngIf="post.content!=='null'">
        <p class="mb-0">{{post.content}}</p>
    </div>
    <app-comments-form></app-comments-form>

</div>
