<app-create-post (create)="createPost()"></app-create-post>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
<div class="card-body  " *ngFor="let post of data " >
     <div class="card-text" >
         <div class="user_info">
            <h2 class="mb-0 user_name" >{{post.User.firstName}} {{post.User.lastName}}</h2>
           <p class="date">{{post.createdAt | date: 'mediumDate'}} </p>
         </div>
        
        <button *ngIf="userId === post.UserId || isAdmin">           
            <mat-icon (click)="delete(post.id)" (click)="reloadCurrentPage()" >delete</mat-icon>
        </button>
     
    </div>
     <div class="card-text" *ngIf="post.title!=='null'">
        <h3 class="mb-0">{{post.title}}</h3>
    </div>
         <div class="card-text" *ngIf="post.content!=='null'">
        <p class="mb-0">{{post.content}}</p>
    </div>
    <div class="card-img-top w-75 mx-auto" [hidden]="post.attachment === null" >
        <img [src]="post.attachment" alt="..." class="w-50"alt="media de {{post.User.firstName}} {{post.User.lastName}}"  />
    </div>

    <div class="comment_section">
            
        <div *ngFor="let comments of post.Comments " class="comment_view">
            <div class="user_comment">
                <h4 class="comment_name">{{comments.User.firstName}} {{comments.User.lastName}}</h4>
                <p class="comment_date">{{comments.createdAt | date: 'mediumDate'}}</p>
            </div>
            <div class="comment_text">
                 <p>{{comments.comments}}</p>    
            <button *ngIf="userId === comments.UserId || isAdmin">
                <mat-icon (click)="deleteComment(comments.id)" (click)="reloadCurrentPage()">delete</mat-icon>
            </button>  
            </div>            
        </div>
        <div class="comment_form">
            <app-comments-form [currentPost]="post"></app-comments-form> 
        </div>
           
    </div>
</div>
