<nav class="navbar navbar-default">
    <div class="container-fluid">
        <ul class="nav navbar-nav">
            <li routerLinkActive="active" *ngIf="!isAuth">
                <a routerLink="signup">Créer mon compte</a>
            </li>
            <li routerLinkActive="active" *ngIf="!isAuth">
                <a routerLink="login">Connexion</a>
            </li>

            <li routerLinkActive="active" *ngIf="isAuth">
                <a routerLink="login" (click)="onLogout()"   style="cursor:pointer">Déconnexion</a>
            </li>
            <li routerLinkActive="active" *ngIf="isAuth">
                <a routerLink="posts">fil d'actualité</a>
            </li>
            <li routerLinkActive="active" *ngIf="isAuth">
                <a routerLink="profil">Mon profil</a>
            </li>
              <img src="../../assets/images/icon-left-font-monochrome-black.png">
        </ul> 
    </div>
</nav>